cloud_id                 = "b1gt6no3mbv84luci7o1"
folder_id                = "b1gfur0hriltnhfetmgg"
zone                     = "ru-central1-a"
image_id                 = "fd8q8u4tdpppa310v7gv"
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
subnet_id                = "e9buqfujc1lpjdovvco3"
service_account_key_file = "/packer/key.json"
network_id               = "enpt5ru87nf1am72079o"
service_account_id       = "ajerkinl76j2v9laajer"
